<p>Hello <%= @user.username %></p>

<p>You are recieving this mail because someone requested to change your password</p>

<p>Click this link <%= @url%> to change your password</p>

<p>If you didn't request to change your password just ignore this mail. Do not pack your password won't change unless you click the link above</p>